Django>=6,<6.1
wagtail>=7.4,<7.5
python-webpack-boilerplate>=1.0.4
wagtail-seo>=3.1.0
wagtail-flexible-forms>=2.1.0
wagtail-cache>=3.0.0
django-redis>=5.4.0
whitenoise>=6.9.0
pillow>=10.4.0
uuid6>=2025.0.1
django-environ>=0.12.0
granian[reload]>=2.5.0
django-actioncable>=1.0.4
django-turbo-helper>=2.1.4
django-vite>=3.1.0
django-storages>=1.14.0
boto3>=1.35.0