{% load static wagtailcore_tags navigation_tags wagtailsettings_tags %}

<!-- header / navigation Menu -->
<header class="bg-base-300 shadow-sm relative">
    <div class="navbar container mx-auto" data-controller="navbar">
        <div class="navbar-start">
            <h1 class="text-xl font-bold">
                <a href="/">{{ settings.settings.SiteSettings.site_title|default:"Wagtail Starter Kit" }}</a>
            </h1>
        </div>

        {% get_menu_tree "main-menu" as navigation %}

        <!-- desktop menu -->
        <div class="navbar-end hidden lg:flex">
            <nav>
                {% if navigation %}
                <ul class="menu menu-horizontal px-1">
                    {% for item in navigation %}
                        {% include "navigation/menu_item.html" with item=item %}
                    {% endfor %}
                </ul>
                {% endif %}
            </nav>

            {% comment %} ! TODO: implement spotlight like searchbar w/ dropdown {% endcomment %}
            {% comment %} <div class="flex items-center space-x-4">
                <form action="{% url 'search:search' %}" method="get" class="flex">
                    <input type="text" name="query" placeholder="Search..." class="input input-sm input-bordered">
                    <button type="submit" class="btn btn-sm btn-primary ml-2">Go</button>
                </form>
            </div>  {% endcomment %}
        </div>
        <!-- end desktop menu -->

        <!-- mobile menu -->
        <ul
            class="absolute top-full left-0 z-20 w-full min-h-[calc(100vh-4rem)] bg-base-200/80 backdrop-blur-lg shadow-md hidden lg:hidden flex flex-col justify-start items-start"
            data-navbar-target="mobileMenu"
        >
            {% if navigation %}
            {% for item in navigation %}
                {% include "navigation/mobile_menu_item.html" with item=item %}
            {% endfor %}
            {% endif %}
        </ul>
        <!-- end mobile menu -->

        <!-- hamburger menu button -->
        <div class="navbar-end lg:hidden">
            {# data-action to trigger Stimulus method #}
            <button class="btn btn-ghost" data-action="navbar#toggleMenu">
                {# Hamburger icon: Initially visible, hidden by Stimulus when menu opens #}
                <svg data-navbar-target="hamburgerIcon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>

                {# Close icon: Initially hidden, shown by Stimulus when menu opens #}
                <svg data-navbar-target="closeIcon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <!-- end hamburger menu button -->

    </div>
</header>