{% load wagtailcore_tags %}
<div class="grid grid-cols-1 md:grid-cols-3 gap-8 my-8">
    <div class="left-column">
        {% for block in self.left_column %}
            {% include_block block %}
        {% endfor %}
    </div>
    <div class="middle-column">
        {% for block in self.middle_column %}
            {% include_block block %}
        {% endfor %}
    </div>
    <div class="right-column">
        {% for block in self.right_column %}
            {% include_block block %}
        {% endfor %}
    </div>
</div>